@model IEnumerable<QuanLyPhongKham3.Models.Prescription>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm toa thuốc", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Ngày lập toa")
        </th>
        
        <th>
            @Html.Label("Trạng thái")
        </th>
        <th>
            @Html.Label("Tên bệnh nhân")
        </th>
        
        <th>
            @Html.Label("Người lập toa")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dosage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Symptom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Using)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Staff.Name)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Thông tin toa thuốc", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
