@model IEnumerable<QuanLyPhongKham3.Models.PrescriptionDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dosage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Symptom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Using)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dosage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Symptom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Using)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDPrescription }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDPrescription }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDPrescription })
        </td>
    </tr>
}

</table>
