@model QuanLyPhongKham3.Models.Medicine

@{
    ViewBag.Title = "Delete";
}




<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Medicine Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.Label("Unit")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.Label("Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.Label("Cost")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.Label("Price")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.Label("Medicine Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicineType.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style="margin-left:12%" type="submit" value="Delete" class="btn btn-default" />
            <br>
            @Html.ActionLink("Black", "Index")
        </div>
    }
</div>
